@model EsteticasII.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(@Url.Content("~/images/background/background6.jpg"));">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <a class="text-center db" href="index.html">
                        @*<b><img src="~/images/logo-light-icon.png" alt="homepage" class="dark-logo" /></b>
                        <span><img src="~/images/logo-light-text.png" alt="homepage" /></span>*@
                    </a>
                    <div class="invisible"><h1>SALTO</h1></div>
                    <div class="form-group">
                        <h3 style="text-align:center;">Restaurar Contraseña</h3>
                        <div><hr style='border-width: 1px; color:#e2e2e2' /></div>
                        <div class="col-xs-12">
                            <p class="text-muted" style="text-align:left;"><i class="fa fa-check"></i> ¡Asegúrate de ingresar la dirección de correo, que utilizo al momento de crear su usuario en el sistema de SIL ESTHETIC, ya que el email no es válido! </p>                            
                        </div>
                    </div>

                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Enviar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
@*<section id="wrapper" class="login-register login-sidebar" style="background-image:url(@Url.Content("~/images/background/background6.jpg"));">
    <h4>Ingrese su Correo Electrónico.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Enviar</button>
            </form>
        </div>
    </div>
</section>*@
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });

        $('#to-cancel').on("click", function () {
            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });
    </script>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
