@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(@Url.Content("~/images/background/background6.jpg"));">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <a class="text-center db" href="index.html">
                        <b><img src="~/images/logo-light-icon.png" alt="homepage" class="dark-logo" /></b>
                        <span><img src="~/images/logo-light-text.png" alt="homepage" /></span>
                    </a>
                    <br /><br /> <br /><br />
                    <div class="form-group">
                        <h3 style="text-align:center;">Restaurar Contraseña</h3>
                        <div><hr style='border-width: 1px; color:#e2e2e2' /></div>
                        <div class="col-xs-12">
                            <p class="text-muted" style="text-align:left;"><i class="fa fa-check"></i> ¡Se ha enviado un email de confirmación de recuperación de la contraseña, a la dirección de correo especificada.! </p>
                            <p class="text-muted" style="text-align:left;"><i class="fa fa-check"></i> ¡Verifique su correo y siga las instrucciones indicadas para restablecer su contraseña! </p>
                            <div style="text-align:center"><button onclick="location.href='Index'" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check"></i>Aceptar</button></div>
                        </div>
                    </div>  
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">

        const logout = () => {
            let userData = JSON.parse(window.sessionStorage.getItem('userData'));
            userLogout(userData.UserId);
            window.sessionStorage.clear();
            document.forms['logout'].submit();
        };

		$(function () {
				$(".preloader").fadeOut();
		});
		$(function () {
				$('[data-toggle="tooltip"]').tooltip()
		});

		//$('#to-recover').on("click", function () {
		//		$("#loginform").slideUp();
		//		$("#recoverform").fadeIn();
		//});

		//$('#to-cancel').on("click", function () {
		//		$("#recoverform").hide();
		//		$("#loginform").fadeIn();
  //      });
        
</script>

<script>
		@await Html.PartialAsync("_ValidationScriptsPartial")
</script>
