@using Microsoft.AspNetCore.Identity
@using EsteticasII.Data.Entities

@model EsteticasII.ViewModels.ResetPasswordViewModel
@inject SignInManager<UsuarioEntity> SignInManager

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(@Url.Content("~/images/background/background6.jpg"));">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <a class="text-center db" href="index.html">
                        <b><img src="~/images/logo-light-icon.png" alt="homepage" class="dark-logo" /></b>
                        <span><img src="~/images/logo-light-text.png" alt="homepage" /></span>
                    </a>
                    <div class="invisible"><h1>SALTO</h1></div>                   
                    <div class="form-group">
                        <h3 style="text-align:center;">Restaurar Contraseña</h3>
                        <div><hr style='border-width: 1px; color:#e2e2e2' /></div>
                        <div class="col-xs-12">
                            <p class="text-muted" style="text-align:left;"><i class="fa fa-check"></i> ¡Asegúrate de ingresar la dirección de correo, que utilizo al momento de crear su usuario en el sistema de SIL ESTHETIC! </p>
                            <p class="text-muted" style="text-align:left;"><i class="fa fa-check"></i> ¡A continuación introduzca su nueva contraseña.! </p>                            
                        </div>
                    </div>

                    <form method="post">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            @*<label asp-for="Email"></label>*@
                            <label>Correo Electrónico</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Password"></label>*@
                            <label>Nueva Contraseña</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="ConfirmPassword"></label>*@
                            <label>Confirmar Contraseña</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Cambiar Contraseña</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


<script src="~/js/GroupApplication.js"></script>
<script src="~/js/CustomApplication.js"></script>

<script type="text/javascript">
    $(function () {
        $(".preloader").fadeOut();
    });
    //$(function () {
    //    $('[data-toggle="tooltip"]').tooltip()
    //});

    //$('#to-recover').on("click", function () {
    //    $("#loginform").slideUp();
    //    $("#recoverform").fadeIn();
    //});

    //$('#to-cancel').on("click", function () {
    //    $("#recoverform").hide();
    //    $("#loginform").fadeIn();
    //});


</script>