@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(@Url.Content("~/images/background/background6.jpg"));">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <a class="text-center db" href="index.html">
                        <b><img src="~/images/logo-light-icon.png" alt="homepage" class="dark-logo" /></b>
                        <span><img src="~/images/logo-light-text.png" alt="homepage" /></span>
                    </a>
                    <div class="invisible"><h1>m</h1></div>

                    <div class="col-xs-12">
                        <h3>Actualización de Contraseña</h3>
                        <p> Su contraseña ha sido restablecida de forma exitosa. <br /><a asp-action="Index"> haga clic aquí para iniciar sesión </a>.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script type="text/javascript">
		$(function () {
				$(".preloader").fadeOut();
		});
		$(function () {
				$('[data-toggle="tooltip"]').tooltip()
		});

		$('#to-recover').on("click", function () {
				$("#loginform").slideUp();
				$("#recoverform").fadeIn();
		});

		$('#to-cancel').on("click", function () {
				$("#recoverform").hide();
				$("#loginform").fadeIn();
		});
</script>

<script>
		@await Html.PartialAsync("_ValidationScriptsPartial")
</script>

@*<p>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </p>*@
